---
# Configuration Traefik
TRAEFIK_VERSION={{ traefik_version | default('3.4.3') }}
TRAEFIK_LOG_LEVEL={{ traefik_log_level | default('INFO') }}
# Let's Encrypt
ACME_EMAIL={{ acme_email }}
# Configuration Open WebUI
OPENWEBUI_DOMAIN={{ openwebui_domain }}
