[defaults]
inventory = inventory.yml
log_path = ansible.log
roles_path = roles:.vendor/roles
host_key_checking = False

[ssh_connection]
ssh_args =-o ForwardAgent=yes

[privilege_escalation]
become = true
become_method = sudo
